<div class="contents row">
  <div class="container">
    <div class="post-date">
      <%= @post.game_day %>
    </div>
    <div class="post-time">
      <%= @post.game_time.name %>
    </div>
    <div class="post-detail">
      <%= @post.detail %>
    </div>
    <%= link_to "メッセージを送る", root_path %>
  </div>
</div>